$primary-color: #272727;
$text-color: #fff;
$container-color: rebeccapurple;
$yashil: #28FF28;
$qizil: #FF0000;

$font-weights: (
    "oddiy": 400,
    "o'rtacha": 500,
    "qalin": 700
);
  